<div class="home-body">
 <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://islamicfocus.co.za/wp-content/uploads/2018/03/green-660x400.jpg');">
    <div class="banner-content">
      <h1>Mercado do Bem</h1>
      <p>Beleza e Saúde em Harmonia</p>
         <div>
            <%= form_tag root_path, method: :get do %>
              <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                placeholder: "Encontre o seu produto aqui"
              %>
            <% end %>
          </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <h1>Produtos</h1>
      <% @products.each do |product| %>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <%= link_to image_tag(product.photo), product_path(product) %>
            <div class="caption">
              <h3><%= link_to product.name, product_path(product) %></h3>
              <p><%= product.category.name %></p>
              <p>Preço: <%= humanized_money_with_symbol(product.price) %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
